<!-- About Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 pb-0 pb-lg-5 py-5">
                <div class="pb-0 pb-lg-5 py-5">
                    <div class="title wow fadeInUp" data-wow-delay="0.1s">
                        <div class="title-left">
                            <h3>Quản lý chi tiêu cá nhân thông minh cùng Minibit</h3>
                        </div>
                    </div>
                    <p class="mb-4 wow fadeInUp" data-wow-delay="0.2s">
                        Minibit giúp bạn theo dõi thu chi hằng ngày, đặt ngân sách, quản lý mục tiêu tiết kiệm và phân tích tài chính cá nhân một cách trực quan. Với giao diện đơn giản, thân thiện, bạn sẽ luôn kiểm soát được ví tiền của mình.
                    </p>
                    <ul class="list-group list-group-flush mb-5 wow fadeInUp" data-wow-delay="0.3s">
                        <li class="list-group-item text-body border-secondary ps-0">
                            <i class="fa fa-check-circle text-primary me-1"></i> Theo dõi thu nhập & chi tiêu chi tiết theo từng danh mục.
                        </li>
                        <li class="list-group-item text-body border-secondary ps-0">
                            <i class="fa fa-check-circle text-primary me-1"></i> Đặt ngân sách và nhận cảnh báo khi vượt hạn mức.
                        </li>
                        <li class="list-group-item text-body border-secondary ps-0">
                            <i class="fa fa-check-circle text-primary me-1"></i> Lập mục tiêu tiết kiệm và theo dõi tiến độ.
                        </li>
                        <li class="list-group-item text-body border-secondary ps-0">
                            <i class="fa fa-check-circle text-primary me-1"></i> Báo cáo & biểu đồ trực quan, dễ hiểu.
                        </li>
                    </ul>
                    <div class="row wow fadeInUp" data-wow-delay="0.4s">
                        <div class="col-6">
                            <a href="" class="btn btn-outline-primary border-2 py-3 w-100">Xem cách hoạt động</a>
                        </div>
                        <div class="col-6">
                            <a href="" class="btn btn-primary py-3 w-100">Trải nghiệm ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid" src="~/images/AboutImage.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-fluid py-5 bg-secondary">
    <div class="container py-5">
        <div class="text-center">
            <div class="title wow fadeInUp" data-wow-delay="0.1s">
                <div class="title-center">
                    <h1>Minibit giúp bạn như thế nào</h1>
                </div>
            </div>
        </div>
        <div class="service-item service-item-left">
            <div class="row g-0 align-items-center">
                <div class="col-md-5">
                    <div class="service-img p-3 wow fadeInRight" data-wow-delay="0.2s">
                        <img class="img-fluid rounded-circle" src="~/images/Service11.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="service-text px-5 px-md-0 py-md-5 wow fadeInRight" data-wow-delay="0.5s">
                        <h3 class="text-uppercase">Theo dõi giao dịch dễ dàng</h3>
                        <p class="mb-4">
                            Ghi lại mọi khoản thu nhập và chi tiêu chỉ trong vài giây. Phân loại theo danh mục rõ ràng để bạn luôn biết tiền của mình đi đâu.
                        </p>
                        <a class="btn btn-outline-primary border-2 px-4" href="">
                            Xem thêm <i class="fa fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item service-item-right">
            <div class="row g-0 align-items-center">
                <div class="col-md-5 order-md-1 text-md-end">
                    <div class="service-img p-3 wow fadeInLeft" data-wow-delay="0.2s">
                        <img class="img-fluid rounded-circle" src="~/images/Service1_2.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="service-text px-5 px-md-0 py-md-5 text-md-end wow fadeInLeft" data-wow-delay="0.5s">
                        <h3 class="text-uppercase">Quản lý ngân sách thông minh</h3>
                        <p class="mb-4">
                            Đặt hạn mức chi tiêu cho từng mục và nhận cảnh báo khi sắp vượt. Giúp bạn kiểm soát tài chính tốt hơn mỗi tháng.
                        </p>
                        <a class="btn btn-outline-primary border-2 px-4" href="">
                            Xem thêm <i class="fa fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item service-item-left">
            <div class="row g-0 align-items-center">
                <div class="col-md-5">
                    <div class="service-img p-5 wow fadeInRight" data-wow-delay="0.2s">
                        <img class="img-fluid rounded-circle" src="~/images/Service1_3.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="service-text px-5 px-md-0 py-md-5 wow fadeInRight" data-wow-delay="0.5s">
                        <h3 class="text-uppercase">Báo cáo & phân tích trực quan</h3>
                        <p class="mb-4">
                            Biểu đồ sinh động, số liệu rõ ràng. So sánh chi tiêu giữa các tháng để bạn dễ dàng nắm bắt thói quen và tối ưu tài chính.
                        </p>
                        <a class="btn btn-outline-primary border-2 px-4" href="">
                            Xem thêm <i class="fa fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-item service-item-right">
            <div class="row g-0 align-items-center">
                <div class="col-md-5 order-md-1 text-md-end">
                    <div class="service-img p-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <img class="img-fluid rounded-circle" src="~/images/Service1_4.png" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="service-text px-5 px-md-0 py-md-5 text-md-end wow fadeInLeft" data-wow-delay="0.5s">
                        <h3 class="text-uppercase">Mục tiêu & tiết kiệm</h3>
                        <p class="mb-4">
                            Lên kế hoạch cho những ước mơ: du lịch, mua sắm hay đầu tư. Theo dõi tiến độ tiết kiệm để biến mục tiêu thành hiện thực.
                        </p>
                        <a class="btn btn-outline-primary border-2 px-4" href="">
                            Xem thêm <i class="fa fa-arrow-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
@* <!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center">
            <div class="title wow fadeInUp" data-wow-delay="0.1s">
                <div class="title-center">
                    <h5>Models</h5>
                    <h1>Meet Our Models</h1>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-1.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Naomy Olsen</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-2.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Pamela Torney</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-3.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Joanne Irwin</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-4.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Gillian Rowe</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-5.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Naomy Olsen</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-6.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Pamela Torney</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-7.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Joanne Irwin</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <div class="team-body">
                        <div class="team-before">
                            <span>Age</span>
                            <span>Height</span>
                            <span>Weight</span>
                            <span>Bust</span>
                            <span>Waist</span>
                            <span>Hips</span>
                        </div>
                        <img class="img-fluid" src="img/team-8.jpg" alt="">
                        <div class="team-after">
                            <span>22</span>
                            <span>185</span>
                            <span>55</span>
                            <span>79</span>
                            <span>59</span>
                            <span>89</span>
                        </div>
                    </div>
                    <a class="team-name" href="#">
                        <h5 class="text-uppercase mb-0">Gillian Rowe</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End --> *@
<!-- Why Choose Minibit Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <div class="title wow fadeInUp" data-wow-delay="0.1s">
                <div class="title-center">
                    <h5>Tại sao chọn</h5>
                    <h1>MINIBIT?</h1>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <!-- Điểm 1 -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="card h-100 shadow-sm border-0 text-center p-4">
                    <div class="mb-3">
                        <i class="fas fa-bolt fa-2x text-primary"></i>
                    </div>
                    <h5 class="fw-bold">Dễ dùng ngay từ lần đầu</h5>
                    <p class="text-muted mb-0">
                        Không cần phải rành tài chính – chỉ vài thao tác là ghi được thu chi.
                    </p>
                </div>
            </div>

            <!-- Điểm 2 -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="card h-100 shadow-sm border-0 text-center p-4">
                    <div class="mb-3">
                        <i class="fas fa-sliders-h fa-2x text-success"></i>
                    </div>
                    <h5 class="fw-bold">Cá nhân hóa theo thói quen</h5>
                    <p class="text-muted mb-0">
                        Tùy chỉnh danh mục, ngân sách và mục tiêu tiết kiệm phù hợp với cuộc sống riêng.
                    </p>
                </div>
            </div>

            <!-- Điểm 3 -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="card h-100 shadow-sm border-0 text-center p-4">
                    <div class="mb-3">
                        <i class="fas fa-lock fa-2x text-warning"></i>
                    </div>
                    <h5 class="fw-bold">Bảo mật & an toàn</h5>
                    <p class="text-muted mb-0">
                        Thông tin của bạn được bảo vệ tuyệt đối, chỉ mình bạn có quyền kiểm soát.
                    </p>
                </div>
            </div>

            <!-- Điểm 4 -->
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="card h-100 shadow-sm border-0 text-center p-4">
                    <div class="mb-3">
                        <i class="fas fa-hand-holding-heart fa-2x text-danger"></i>
                    </div>
                    <h5 class="fw-bold">Đồng hành dài hạn</h5>
                    <p class="text-muted mb-0">
                        Minibit không chỉ giúp ghi chép mà còn xây dựng cho bạn thói quen quản lý chi tiêu hiệu quả.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why Choose Minibit End -->
<!-- Back to Top -->
<a href="#" class="btn btn-outline-primary border-2 btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>